[submodule "plugins/gui/frontend/qooxdoo"]
	path = plugins/gui/frontend/qooxdoo
	url = https://github.com/gonicus/qooxdoo.git
[submodule "plugins/gui/frontend/capture"]
	path = plugins/gui/frontend/capture
	url = https://github.com/cajus/capture.git
[submodule "plugins/gui/frontend/uploadmgr"]
	path = plugins/gui/frontend/uploadmgr
	url = https://github.com/johnspackman/UploadMgr.git
