# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# VIM
.*.swp

# Distribution / packaging
build/
.eggs/
lib/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache

# Translations
*.mo
*.pot

# dotenv
.env

# intellij project
.idea
