sudo: required
dist: trusty
language: python
services:
    - docker
python:
    - "3.6"
addons:
  apt:
    source:
    - deadsnakes
cache:
  pip: true
  directories:
    - plugins/gui/frontend/gosa/build
    - plugins/gui/frontend/gosa/node_modules
    - .env
    - /tmp/qx5.1
before_install:
    - sudo apt-get update
    - sudo cp travis_conf/org.gosa.conf /etc/dbus-1/system.d/
    - sudo service dbus reload
    - sudo killall -9 postgres # kill systems postgres, as we use the one from docker
    - docker pull cpollmeier/gosa3:devel # download docker container
    - docker run -d -p 389:389 -p 1883:1883 -p 5432:5432 cpollmeier/gosa3:devel # start it
    - virtualenv --python=python3 --system-site-packages .env
    - source .env/bin/activate
    - pip install --upgrade pip # upgrade pip, we need the latest version
    # some preparations for the tests
    - export TZ=Europe/Berlin
    - sudo mkdir /tmp/workflows
    - sudo mkdir /tmp/images
    - sudo mkdir /etc/gosa
    - sudo cp ./travis_conf/config /etc/gosa/
    - sudo chown travis:travis /tmp/workflows
    - sudo chown travis:travis /tmp/images
install:
    - sudo apt-get install -y pylint python3-tornado python3-pytest libcups2-dev libdbus-1-dev libdbus-glib-1-dev libusb-1.0-0-dev libudev-dev libgirepository1.0-dev python3-dnspython
    - ./.travis/install-dbus.sh
    - pip install setproctitle coveralls hidraw-pure #dbus-python
    - install from
    #- pip install -e git+https://git.gnome.org/browse/pygobject#egg=pygobject==3.24
before_script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
script:
    # build the gui, to be able to test it if gets served
    - cd plugins/gui/frontend/gosa/
    - npm install
    - python2 generate.py -sI source
    - python2 generate.py -sI test-source
    - cd ../../../../
    # setup GOsa, install deps...
    - ./setup.py develop
    # finally run the tests, with running dbus
    - dbus-launch ./setup.py test --addopts="--runslow --travis"
after_success:
    # send test coverage results to coveralls.io
    - coveralls --merge=coveralls.json