Source: gosa
Section: misc
Priority: optional
Maintainer: Cajus Pollmeier <pollmeier@gonicus.de>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools,
 python3-pytest, pylint3, python3-babel, python3-pytest-runner,
 python3-pyinotify, python3-polib, python3-bcrypt
X-Python-Version: >= 3.5
Standards-Version: 3.9.2
Homepage: http://gosa-project.org
Vcs-Browser: https://github.com/gonicus/gosa
Vcs-Git: git://github.com/gonicus/gosa.git

Package: gosa-common
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python3-pkg-resources,
 python3-zope.interface, python3-openssl, python3-sqlalchemy (>= 1.1), python3-lxml,
 python3-dnspython, python3-cryptography, python3-colorlog, python3-mqtt,
 gosa-dbus
Description: gosa infrastructure service - common files
 Brief description is missing.
 .
 This package provides libraries common for all gosa components.

Package: gosa-dbus
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, gosa-common, python3-dateutil,
 python3-dbus, python3-setproctitle, python3-pyinotify, python3-polib, python3-xdg,
 python3-psutil
Description: GOsa infrastructure service - DBUS service provider
 Brief description is missing.
 .
 This package provides the DBUS plugin integration.

Package: gosa-client
Architecture: all
Conflicts: gosa-server
Depends: ${python:Depends}, ${misc:Depends}, gosa-common, python3-dateutil,
 python3-netifaces, python3-netaddr, python3-crypto, python3-zope.event,
 python3-setproctitle, adduser, python3-babel (>= 2.4), python3-tornado,
 fusioninventory-agent, python3-decorator
Suggests: gosa-dbus
Description: GOsa infrastructure service - client
 Brief description is missing.
 .
 This package provides the client.

Package: gosa-cli
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, gosa-common, python3-pycurl,
 python3-u2flib-host, python3-pyqrcode, python3-hidraw
Description: GOsa infrastructure service - shell
 Brief description is missing.
 .
 This package provides the shell interface.

Package: gosa-utils
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, gosa-common
Description: GOsa infrastructure service - utilities
 Brief description is missing.
 .
 This package provides the utilities.

Package: gosa-server
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, gosa-common, python3-tornado,
 python3-unidecode, python3-zope.event, python3-pil, python3-passlib,
 python3-psycopg2, python3-mqtt, python3-cryptography, python3-pyqrcode,
 python3-pycountry, python3-ldap, python3-u2flib-server,
 python3-tornadostreamform, adduser
Conflicts: gosa-client
Suggests: mosquitto, avahi-utils
Description: GOsa infrastructure service - agent
 Brief description is missing.
 .
 This package provides the main server.
