[Unit]
Description=GOsa client

[Service]
ExecStart=/usr/sbin/gosa-client
KillSignal=INT
Restart=on-failure
User=gosa

[Install]
WantedBy=multi-user.target
