# .gitignore template for skeleton-based apps
/api/
/cache/
/build/
/inspector/
/simulator/
/test/
/source/script/
/source/index.html
/uploads/widgets/
/node_modules/
**/cache
!/source/class/gosa/data/cache/*
